 .alert {
                          border: 0;
                          border-radius: 0;
                          padding: 20px 15px;
                          line-height: 20px;
                      }

                      .alert b {
                          font-weight: 500;
                          text-transform: uppercase;
                          font-size: 12px;
                      }

                      .alert,
                      .alert.alert-default {
                          background-color: white;
                          color: #555;
                      }

                      .alert a,
                      .alert .alert-link,
                      .alert.alert-default a,
                      .alert.alert-default .alert-link {
                          color: #555;
                      }

                      .alert.alert-inverse {
                          background-color: #292929;
                          color: #fff;
                      }

                      .alert.alert-inverse a,
                      .alert.alert-inverse .alert-link {
                          color: #fff;
                      }

                      .alert.alert-primary {
                          background-color: #a72abd;
                          color: #ffffff;
                      }

                      .alert.alert-primary a,
                      .alert.alert-primary .alert-link {
                          color: #ffffff;
                      }

                      .alert.alert-success {
                          background-color: #55b559;
                          color: #ffffff;
                      }

                      .alert.alert-success a,
                      .alert.alert-success .alert-link {
                          color: #ffffff;
                      }

                      .alert.alert-info {
                          background-color: #00cae3;
                          color: #ffffff;
                      }

                      .alert.alert-info a,
                      .alert.alert-info .alert-link {
                          color: #ffffff;
                      }

                      .alert.alert-warning {
                          background-color: #ff9e0f;
                          color: #ffffff;
                      }

                      .alert.alert-warning a,
                      .alert.alert-warning .alert-link {
                          color: #ffffff;
                      }

                      .alert.alert-danger {
                          background-color: #f55145;
                          color: #ffffff;
                      }

                      .alert.alert-danger a,
                      .alert.alert-danger .alert-link {
                          color: #ffffff;
                      }

                      .alert.alert-rose {
                          background-color: #ea2c6d;
                          color: #ffffff;
                      }

                      .alert.alert-rose a,
                      .alert.alert-rose .alert-link {
                          color: #ffffff;
                      }

                      .alert-info,
                      .alert-danger,
                      .alert-warning,
                      .alert-success {
                          color: #ffffff;
                      }

                      .alert-default a,
                      .alert-default .alert-link {
                          color: rgba(0, 0, 0, 0.87);
                      }

                      .alert .alert-icon {
                          display: block;
                          float: left;
                          margin-right: 1.071rem;
                      }

                      .alert .alert-icon i {
                          margin-top: -7px;
                          top: 0px;
                          position: relative;
                      }

                      .alert .close {
                          color: #fff;
                          text-shadow: none;
                          opacity: .9;
                      }

                      .alert .close i {
                          font-size: 29px;
                          line-height: 20px;
                      }

                      .alert .close:hover,
                      .alert .close:focus {
                          opacity: 1;
                      }