@media (min-width: 1501px) and (max-width: 1701px) {
  .w-30 {
      width: 40%;
  }
}
@media (min-width: 1025px) and (max-width: 1501px) {
  .w-30 {
      width: 35%;
  }
  .block-header , .block-content
  {
    padding: 20px;
  }
}


@media (min-width: 1025px) and (max-width: 1381px) {
  .w-30 {
      width: 40%;
  }
  .block-header , .block-content
  {
    padding: 20px;
  }

}




@media (min-width: 1025px) and (max-width: 1280px) {

  .w-30 {
      width: 50%;
  }
  
}
@media (min-width: 768px) and (max-width: 1024px) {
    .block-header , .block-content
    {
      padding: 15px;
    }

    .w-30 {
        width: 60%;
    }
    .acc_form_head, .acc_form_body 
    {
      padding: 20px;
    }
  
}

@media (max-width: 980px) {
  .hide_mob 
    {
      display: none;
    }
}

@media (max-width: 767px) {
  
    .block-header , .block-content
    {
        padding-left: 5px; 
        padding-right: 5px; 
    }
    .acc_form_head, .acc_form_body {
        padding: 0px 15px;
    }
    .heading-text 
    {
      line-height: 32px;
    }
    .w-30 {
        width: 75%;
    }
    
}


@media (min-width: 280px) and (max-width: 550px) {
    
    .hide_xs 
    {
      display: none;
    }
    .show_xs 
    {
      display: block;
    }
    .w-30 {
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .acc_form_head, .acc_form_body {
        padding: 7px 32px;
    }
    .block-header , .block-content 
    {
      padding: 15px;
    }
    .logo_mobile {
        background-image: url('../../src/assets/img/logo.png');
        background-size: 37px;
        background-repeat: no-repeat;
        display: inline-block;
        padding-left: 44px;
    }

    .logo_mobile span {
        display: inline-block;
        line-height: normal;
        color: #333333;
        padding: 3px 0px;
    }
    .xs-ml-0 
    {
      margin-left: 0px;
    }

    .pt-x-5 
    {
      padding-top: 5px;
    } 

}