body 
{
  color: #333333; 
  font-family: Avenir; 
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  background-color: #fff; 
}
input::-webkit-input-placeholder { 
  color: pink;
}
input::-moz-placeholder { 
  color: pink;
}
input:-ms-input-placeholder { 
  color: pink;
}
input:-moz-placeholder { 
  color: pink;
}

h1 {
  color: #333333;
  font-family: Avenir;
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
  margin: 0px;
  padding: 0px;
}
h6 {
  color: #333333;
  font-family: Avenir;
  font-size: 14px;
  font-weight: 900;
  line-height: 24px;
  margin:0px; 
}

.sidebar 
{
  width: 216px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}
.content 
{
  margin-left: 216px;
}
.btn{
   font-family: AvenirL;
   font-size: 14px;
   font-weight: 300;
   border-radius: 24px;
   padding: 0px 15px;
   line-height: 32px;
   min-height: 32px;
}
.btn:focus,
.btn:active 
{
  outline: none  !important;
  box-shadow: none !important;
}
.btn.btn-primary{
  background-color: #D7253B;
  border-color: #D7253B;
}
.btn.btn-outline-primary 
{
  border-color: #D7253B;
  color: #D7253B;
}
.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #D7253B;
    border-color: #D7253B;
}
.btn-outline-primary:hover {
    background-color: #D7253B;
    border-color: #D7253B;
    color: #fff;
}
.search_input 
{
  border: 1px solid #D7253B;
  border-radius: 24px;
  outline: none;
  box-shadow: none;
  padding-left: 8px;
  height: 33px;
  opacity: 1;
}  
.bg_search 
{
  background-image: url(../img/search.png);
  background-repeat: no-repeat;
  background-position: left 8px center;
  padding-left: 35px;
}
.search_input::-webkit-input-placeholder { 
  color: #D7253B;
}
.search_input::-moz-placeholder { 
  color: #D7253B;
}
.search_input:-ms-input-placeholder { 
  color: #D7253B;
}
.search_input:-moz-placeholder {
  color: #D7253B;
}

.tbl-dropdown .dropdown-toggle::after 
{
    display:none
}


.tbl-dropdown .fa 
{
  color: #333333
}
.tbl-dropdown .fa:active,
.tbl-dropdown .fa:focus 
{
  color: #D7253B
}
.tbl-dropdown .dropdown-menu
{
  border: 0px;
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.16);
}
.tbl-dropdown .dropdown-menu .dropdown-item{
  font-size: 14px;
} 
.tbl-dropdown .dropdown-menu img 
{
  width: 20px;
}

.table.table-borderless th 
{
  font-weight: 900;
  opacity: 0.5;
  color: #333333
}
.table.table-borderless th.sorting_asc{
	color: #D7253B;
	opacity: 1
} 
.table.table-borderless td , .table.table-borderless th
{
  vertical-align: middle;
  border: 0px; 
}
.table.table-borderless.tr56 td{
  height: 76px;
}
.table.table-borderless tr th:first-child ,  .table.table-borderless tr td:first-child 
{
  padding-left: 30px;
}
.table.table-borderless tr td:last-child
{
  text-align: right;
}
.rowSelected 
{
  background-color: #EDF1FF;
}
.rowSelected td:first-child 
{
  border-left: 4px solid #D7253B;
} 
.table-striped tbody tr:nth-of-type(2n+1)
{
  background-color:  #F2F3F5;
}

.block-inline_elm
{
  display: inline-block;
  float: left;
}
.heading-text 
{
    color: #333333;
    font-family: Avenir;
    font-size: 32px;
    font-weight: 900;
    line-height: normal;
    margin: 0px;
    padding: 0px;
    line-height: 32px;
}
.normal-text 
{
  color: #333333; 
  font-family: Avenir;
  font-size: 14px;
  font-weight: 500; 
  line-height: 24px;
}
.block-header
{
  padding-top: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eaeaea;
  padding-left: 35px;
  padding-right: 35px;
}
.block-content 
{
  padding-left: 35px;
  padding-right: 35px;
}
.inline 
{
  display: inline-block;
}
.brand 
{
  float: left;
}

.nav-heading {
  color: #333333;
  font-family: Avenir;
  font-size: 32px;
  font-weight: 900;
  line-height: 48px;
  margin: 0px; 
}
.sidebar {
  width: 216px;
  display: inline-block;
  float: left;
  background-color: #333333;
  height: 100vh;
}



.block-activity 
{
  padding-top: 18px;
  padding-bottom: 30px;
}
.block--elm 
{
  display: block;
  width: 100%;
}

.block--elm .block--elm-header 
{
	display: block;
	width: 100%;
	height: 100px;
	text-align: center;
	line-height: 100px;
}
.block--elm-header a
{
  background-image: url('../../src/assets/img/logo.png');
  background-size: 45px;
  padding-left: 45px;
  background-repeat: no-repeat;
  color: #fff;
  background-position: left;
  padding-left: 55px;
  min-height: 85px;
  display: inline-block;
  margin-left: 26px;
  font-family: 'Avenir';
}
.block--elm-header a:hover
{
  opacity: 0.8;
}
.block--elm-header a span
{ 
  display: inline-block;
  padding: 20px 0px;
}
.block--elm-list
{
  margin: 15px 8px 0px; 
}
.block--elm-list .nav .nav-link
{
  opacity: 0.3;
  color: #FBFBFB;
  font-family: Avenir;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  padding-left: 24px;
  margin-bottom: 10px;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
  outline: none;
}
.block--elm-list .nav .nav-link:hover 
{
  background: rgba(200, 200, 200, 0.2);
  opacity: 0.6;
  box-shadow: 0 14px 5px -19px rgba(153, 153, 153, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(153, 153, 153, 0.2);
  outline: none;
}
.block--elm-list .nav .nav-link.active,
.block--elm-list .nav .nav-link:focus
{
  opacity: 1;
  color: #fff;
  background-color: #D7253B;
  box-shadow: 0 12px 20px -10px rgba(75, 116, 255, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.5), 0 7px 8px -5px rgba(75, 116, 255, 0.2)
  outline:none;
}
.sidebar-links div ul.sub-links {
  max-height: 0;
  overflow: hidden;
  transition: 0.4s;
  display: block;
  margin: 0px;
  padding: 0px;
}
.sidebar-links div.selected ul.sub-links {
  max-height: 150px;
  padding: 0px 0px 0px 30px;
} 
.block--elm-list .nav-item.selected > .nav-link 
{
  opacity: 1;
  color: #fff;
  background-color: #D7253B;
  box-shadow: 0 12px 20px -10px rgba(75, 116, 255, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.5), 0 7px 8px -5px rgba(75, 116, 255, 0.2);

  outline:none;
}
 
.sidebar-links div .sub-links a {
  text-decoration: none;
  color: #b3bcc5;
  display: block;
  text-align: left;
}



.tbl-next .btn.btn-outline-secondary
{
    border: 1px solid #C6CBD4;
    border-radius: 2px;
    height: 32px;
    line-height: 12px;
    outline: none;
}
.tbl-next .btn.btn-outline-secondary:hover,
.tbl-next .btn.btn-outline-secondary:focus,
.tbl-next .btn.btn-outline-secondary:active 
{
  outline: none;
  box-shadow: none;
  background-color: none;
  border-color: #D7253B;
  background-color: #fff;
}
.tbl_next {
    width: 8px;
    position: relative;
    top: -2px;
}

/* The container */
.multiselect_dropdown .customcheckbox {
    display: block;
    position: relative;
    padding-left: 28px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #333333;
     font-family: Avenir;
       font-size: 14px; 
        font-weight: 300; 
        line-height: 24px;

}

.multiselect_dropdown .customcheckbox.bold
{
    font-weight: 900;
}
/* Hide the browser's default checkbox */
.multiselect_dropdown .customcheckbox input {
    position: absolute;
    opacity: 0;
}

/* Create a custom checkbox */
.multiselect_dropdown .checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 17px;
    width: 17px;
    border: 1px solid #979797;    
}

/* On mouse-over, add a grey background color */
.multiselect_dropdown .customcheckbox:hover input ~ .checkmark {
    background-color: #D7253B;
}

/* When the checkbox is checked, add a blue background */
.multiselect_dropdown .customcheckbox input:checked ~ .checkmark {
    background-color: #D7253B;
}

/* Create the checkmark/indicator (hidden when not checked) */
.multiselect_dropdown .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.multiselect_dropdown .customcheckbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.multiselect_dropdown .customcheckbox .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}



/*----right Side Bar----*/

 .sidebar-wrapper {
    margin-right: -360px;
    right: 0;
    width: 360px;
    box-shadow: 0 0 16px 0 rgba(0,0,0,0.24);
    background-color: #FFFFFF;
    position: fixed;
    height: 100%;
    z-index: 1000;
    transition: all 0.5s ease-in 0s;
    -webkit-transition: all 0.5s ease-in 0s;
    -moz-transition: all 0.5s ease-in 0s;
    -ms-transition: all 0.5s ease-in 0s;
    -o-transition: all 0.5s ease-in 0s;
  /*  overflow-y: auto;*/
  }

  .sidebar-wrapper.active {
    right: 360px;
    width: 360px;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
  }
  
  .right_pbody 
  {
    overflow-y: auto;
  }
  .toggle {
    margin: 5px 5px 0 0;
    background-image: url(../img/close_sidebar.png);
    opacity: 0.5;
    background-size: 25px;
    background-repeat: no-repeat;
  }

  .aside_rightbar {
    position: relative;
    top: 0;
    list-style: none;
    margin: 0;
    padding: 0px 25px 10px 48px;
    bottom: 0px;
  }
  .panel_pad
  {
     padding: 10px 25px 10px 48px;
     width: 100%;
     display: inline-block;
  }

  h2{
    height: 32px;
    color: #333333;
    font-family: Avenir;
    font-weight: 900;
    line-height: 32px;
    font-size: 14px;
    margin: 20px 0px;
    display: inline-block;
    width: 100%;
  }
  h2.flight_info 
  {
    font-size: 24px;
    margin-bottom: 5px;
    margin-top: 0px;
  }
  
  .view-flight-info .under_flight
  {
    padding-left: 0px;
    list-style: none;
    display: block; 
    margin-bottom: 0px;
  }
  .view-flight-info .under_flight li 
  {
    list-style: none;
    text-decoration: none; 
    color: #333333;
    font-family: Avenir;
    font-size: 14px;  
    font-weight: 300; 
    line-height: 24px;
    margin-bottom: 11px;
  }
  .view-flight-info .under_flight li .custom-control-label::before
  {
      background-color: #fff;
      border: 1px solid #939393;
      border-radius: 3px;
  }
  .view-flight-info .under_flight li .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #D7253B;
  }
  .progress_bar{
    max-width: 248px;
  }
  .progress_bar .progress
  {
    background-color: rgba(51,51,51,0.3);
    border-radius: 3px;
    height: 5.94px;
    margin-bottom:0;
  }
  .bg-theme {
    background-color: #D7253B;
  }
  .progress_bar .start 
  {
    float:left;
  }
  .progress_bar .end 
  {
    float:right;
    text-align:right;
  }
  .progress_bar .start label,
  .progress_bar .end label {
    opacity: 0.5;
    font-size: 10px;
    line-height: 12px;
    margin: 0px;
  }
  .progress_bar .start p,
  .progress_bar .end p {
    margin: 0px;
    line-height: normal;
  }
  .toggle_button 
  {
    vertical-align: middle;
   margin-bottom: 11px;
   display: inline-block;
   max-width: 248px;
   width: 100%; 
  }
  .toggle_button .flat-toggle {
      width: 32px;
      border-radius: 10px;
      height: 16px;
      background-color: #C6CBD4;
      position: relative;
      margin: 5px 0;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -o-user-select: none;
      user-select: none;
      float: right;
  }
  .toggle_button .flat-toggle:after {
      border-radius: 100%;
      position: absolute;
      left: 1px;
      top: 1px;
      width: 13px;
      height: 13px;
      content: '';
      -webkit-transform: translate(0);
      -ms-transform: translate(0);
      transform: translateX(0);
       transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      background-color: #FFF;
  }
  .toggle_button .flat-toggle > span {
      margin-left: 45px;
      position: relative;
      top: -6px;
      color: #666;
      white-space: nowrap;
      display: block;
      cursor: pointer;
  }
  .toggle_button .flat-toggle:hover {
      cursor: pointer;
  }
  .toggle_button .flat-toggle:hover span {
      color: black;
      cursor: pointer;
  }
  .toggle_button .flat-toggle.on {
      /*background-color: #c9c9c9;*/
           background-color: #D7253B;
 
  }
  .toggle_button .flat-toggle.on:after {
      background-color: #FFF;
      -webkit-transform: translate(17px);
      -ms-transform: translate(17px);
      transform: translateX(17px);
  }
  .view-flight-info .start-end-date
  {
    background-color: #fff;
    background-image: url(../img/celander.png);
    background-position: right 4px center;
    background-repeat: no-repeat;
    border: 1px solid #C6CBD4;
    border-radius: 2px;
    padding-right: 25px;
    font-size: 14px;
    padding-left: 12px;
    height: 32px;
  }
  .toggle_btns 
  {

  }
  .toggle_btns  input
  {
    left: -9999px;
    visibility: hidden;
    position: absolute;
  }
  .toggle_btns .btn
  {
    border: 1px solid #C6CBD4;
  }
  .toggle_btns .btn:focus,
  .toggle_btns .btn:active 
  {
     box-shadow: none;
     outline: none;
  } 
  .sec1-2  label
  {
    opacity: 0.5; 
    color: #333333; 
    width: 100%;
    margin-bottom: 0px;
  }

.w-30 
{
  width: 28%;
}
  .acc_form 
  {
    /*box-shadow: 0 0 16px 0 rgba(0,0,0,0.24);*/
    background-color: #FFFFFF;
    border-radius: 16px;
    overflow: hidden;
    margin: 15px;
  }
  .acc_form_body .form-group label 
  {
    font-size: 16px;
  }
  .acc_form_head ,
  .acc_form_body 
  {
    padding: 20px 40px; 
  }
  .form-control {
      height: 32px;
      border: 1px solid #C6CBD4;
      padding-left: 14px;
      color: #333333;
      font-size: 14px;
      border-radius: 2px;
  }
  .form-control.txt
  {
    height: unset;
  }
  .form-control:focus 
  {
    box-shadow: none;
    border-color: #D7253B;
    outline: none;
  }
  .btn.btn-secondary.btn-custom
  {
    background-color: #e3e7e7;
    border-radius: 0px;
    border-top-right-radius: 0px;
    border: 0px;
    font-size: 20px;
    border-top-right-radius: 13px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: #4B4B4B;
    font-size: 16px;
  }
  /*-----profile pages ------*/
  .card 
  {
    border: 1px solid #C6CBD4;
  }
  .label-floating 
  {
    font-size: 16px;
  }
  .card-content , .card-profile
  {
    padding: .75rem 1.25rem;
  }
  .card.card-profile
  {
    margin-top: 48px;
  }
  .form-control.inpt,
  select.form-control.sel:not([size]):not([multiple])
  {
    border-radius: 2px;
    font-size: 14px;
    height: 32px;
    border: 1px solid #C6CBD4;
    padding-left: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .form-control.txtarea 
  {
    border: 1px solid #C6CBD4;
    border-radius: 2px;
    font-size: 14px;
    padding-left: 12px;
  }
  .card-profile .card-avatar, .card-testimonial .card-avatar {
      max-width: 130px;
      max-height: 130px;
      margin: -50px auto 0;
      
      border-radius: 50%;
      overflow: hidden;
      box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  }
  .card img {
      width: 100%;
      height: auto;
  }
  .sm-head 
  {
      margin-top: 10px;
      line-height: 24px;
  }
  select:focus 
  {
      outline: none;
      -moz-outline: none;
  }
  table.pd10 tr th,
  table.pd10 tr td 
  {
    padding-top: 7px;
    padding-bottom: 7px;
  }
  table.table-borderless.pd10 tr th:first-child, table.table-borderless.pd10 tr td:first-child
  {
      padding-left: 7px;
  }
.file-upload {
  background-color: #ffffff;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-align-content: center;
  -webkit-align-items: center;
  height: 325px;
}
.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}
.file-upload-content {
  display: none;
  text-align: center;
}
.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.image-upload-wrap {
  margin-top: 20px;
/*  border: 4px dashed #1FB264;
*/  position: relative;
}
.image-dropping,
.image-upload-wrap:hover {
  background-color: rgba(200, 200, 200, 0.2);
}
.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}
.image-title 
{
  text-transform: lowercase;
  margin: 0px 13px;
}
.drag-text {
  text-align: center;
}
.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
   color: rgba(51,51,51,0.51);
  padding: 60px 0;
  font-size: 20px;
}
.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}
.remove-image {
  width: auto;
  color: #FBFBFB;
  background: #333333;
  border: none;
  border-radius: 24px;
  border: 0px solid #b02818;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
}
.remove-image:hover {
  background: #454545;
  color: #FBFBFB;
  transition: all .2s ease;
  cursor: pointer;
}
.remove-image:active {
  border: 0;
  transition: all .2s ease;
}


/*--------date picker style---------*/
.daterangepicker table {
  font-size: 14px;
  font-family: inherit;
}
.daterangepicker.ltr
{
  box-shadow: 0 0 16px 0 rgba(0,0,0,0.24);
  border-radius: 2px;
  background-color: #F9F9F9; 
}
.logo_mobile 
{
  display: none;
}
.area72
{
  padding: 72px;
  width: 72px;
  padding: 0px;
}
.bg-white 
{
  background-color: #fff;
}
.b-0 
{
  border: 0px;
}
.bt-0 
{
  border-top: 0px;
}
.bb-0 
{
  border-bottom: 0px;
}
.bl-0 
{
  border-left: 0px;
}
.br-0 
{
  border-right: 0px;
}
.b-1 
{
  border: 1px solid #C6CBD4;

}
.r-2
{
  border-radius: 2px;
}


.range_slider input {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  overflow: hidden;
  width: 100%;
}
.range_slider input:focus {
  box-shadow: none;
  outline: none;
}
.range_slider input::-webkit-slider-runnable-track {
  background: rgba(51,51,51,0.3);
  content: '';
  height: 5.94px;
  pointer-events: none;
}
.range_slider input::-webkit-slider-thumb {
  height: 18px;
  width: 28px;
  -webkit-appearance: none;
          appearance: none;
  background: #fff;
  border-radius: 8px;
  box-shadow: 5px 0 0 -8px #c7c7c7, 6px 0 0 -8px #c7c7c7, 7px 0 0 -8px #c7c7c7, 8px 0 0 -8px #c7c7c7, 9px 0 0 -8px #c7c7c7, 10px 0 0 -8px #c7c7c7, 11px 0 0 -8px #c7c7c7, 12px 0 0 -8px #c7c7c7, 13px 0 0 -8px #c7c7c7, 14px 0 0 -8px #c7c7c7, 15px 0 0 -8px #c7c7c7, 16px 0 0 -8px #c7c7c7, 17px 0 0 -8px #c7c7c7, 18px 0 0 -8px #c7c7c7, 19px 0 0 -8px #c7c7c7, 20px 0 0 -8px #c7c7c7, 21px 0 0 -8px #c7c7c7, 22px 0 0 -8px #c7c7c7, 23px 0 0 -8px #c7c7c7, 24px 0 0 -8px #c7c7c7, 25px 0 0 -8px #c7c7c7, 26px 0 0 -8px #c7c7c7, 27px 0 0 -8px #c7c7c7, 28px 0 0 -8px #c7c7c7, 29px 0 0 -8px #c7c7c7, 30px 0 0 -8px #c7c7c7, 31px 0 0 -8px #c7c7c7, 32px 0 0 -8px #c7c7c7, 33px 0 0 -8px #c7c7c7, 34px 0 0 -8px #c7c7c7, 35px 0 0 -8px #c7c7c7, 36px 0 0 -8px #c7c7c7, 37px 0 0 -8px #c7c7c7, 38px 0 0 -8px #c7c7c7, 39px 0 0 -8px #c7c7c7, 40px 0 0 -8px #c7c7c7, 41px 0 0 -8px #c7c7c7, 42px 0 0 -8px #c7c7c7, 43px 0 0 -8px #c7c7c7, 44px 0 0 -8px #c7c7c7, 45px 0 0 -8px #c7c7c7, 46px 0 0 -8px #c7c7c7, 47px 0 0 -8px #c7c7c7, 48px 0 0 -8px #c7c7c7, 49px 0 0 -8px #c7c7c7, 50px 0 0 -8px #c7c7c7, 51px 0 0 -8px #c7c7c7, 52px 0 0 -8px #c7c7c7, 53px 0 0 -8px #c7c7c7, 54px 0 0 -8px #c7c7c7, 55px 0 0 -8px #c7c7c7, 56px 0 0 -8px #c7c7c7, 57px 0 0 -8px #c7c7c7, 58px 0 0 -8px #c7c7c7, 59px 0 0 -8px #c7c7c7, 60px 0 0 -8px #c7c7c7, 61px 0 0 -8px #c7c7c7, 62px 0 0 -8px #c7c7c7, 63px 0 0 -8px #c7c7c7, 64px 0 0 -8px #c7c7c7, 65px 0 0 -8px #c7c7c7, 66px 0 0 -8px #c7c7c7, 67px 0 0 -8px #c7c7c7, 68px 0 0 -8px #c7c7c7, 69px 0 0 -8px #c7c7c7, 70px 0 0 -8px #c7c7c7, 71px 0 0 -8px #c7c7c7, 72px 0 0 -8px #c7c7c7, 73px 0 0 -8px #c7c7c7, 74px 0 0 -8px #c7c7c7, 75px 0 0 -8px #c7c7c7, 76px 0 0 -8px #c7c7c7, 77px 0 0 -8px #c7c7c7, 78px 0 0 -8px #c7c7c7, 79px 0 0 -8px #c7c7c7, 80px 0 0 -8px #c7c7c7, 81px 0 0 -8px #c7c7c7, 82px 0 0 -8px #c7c7c7, 83px 0 0 -8px #c7c7c7, 84px 0 0 -8px #c7c7c7, 85px 0 0 -8px #c7c7c7, 86px 0 0 -8px #c7c7c7, 87px 0 0 -8px #c7c7c7, 88px 0 0 -8px #c7c7c7, 89px 0 0 -8px #c7c7c7, 90px 0 0 -8px #c7c7c7, 91px 0 0 -8px #c7c7c7, 92px 0 0 -8px #c7c7c7, 93px 0 0 -8px #c7c7c7, 94px 0 0 -8px #c7c7c7, 95px 0 0 -8px #c7c7c7, 96px 0 0 -8px #c7c7c7, 97px 0 0 -8px #c7c7c7, 98px 0 0 -8px #c7c7c7, 99px 0 0 -8px #c7c7c7, 100px 0 0 -8px #c7c7c7, 101px 0 0 -8px #c7c7c7, 102px 0 0 -8px #c7c7c7, 103px 0 0 -8px #c7c7c7, 104px 0 0 -8px #c7c7c7, 105px 0 0 -8px #c7c7c7, 106px 0 0 -8px #c7c7c7, 107px 0 0 -8px #c7c7c7, 108px 0 0 -8px #c7c7c7, 109px 0 0 -8px #c7c7c7, 110px 0 0 -8px #c7c7c7, 111px 0 0 -8px #c7c7c7, 112px 0 0 -8px #c7c7c7, 113px 0 0 -8px #c7c7c7, 114px 0 0 -8px #c7c7c7, 115px 0 0 -8px #c7c7c7, 116px 0 0 -8px #c7c7c7, 117px 0 0 -8px #c7c7c7, 118px 0 0 -8px #c7c7c7, 119px 0 0 -8px #c7c7c7, 120px 0 0 -8px #c7c7c7, 121px 0 0 -8px #c7c7c7, 122px 0 0 -8px #c7c7c7, 123px 0 0 -8px #c7c7c7, 124px 0 0 -8px #c7c7c7, 125px 0 0 -8px #c7c7c7, 126px 0 0 -8px #c7c7c7, 127px 0 0 -8px #c7c7c7, 128px 0 0 -8px #c7c7c7, 129px 0 0 -8px #c7c7c7, 130px 0 0 -8px #c7c7c7, 131px 0 0 -8px #c7c7c7, 132px 0 0 -8px #c7c7c7, 133px 0 0 -8px #c7c7c7, 134px 0 0 -8px #c7c7c7, 135px 0 0 -8px #c7c7c7, 136px 0 0 -8px #c7c7c7, 137px 0 0 -8px #c7c7c7, 138px 0 0 -8px #c7c7c7, 139px 0 0 -8px #c7c7c7, 140px 0 0 -8px #c7c7c7, 141px 0 0 -8px #c7c7c7, 142px 0 0 -8px #c7c7c7, 143px 0 0 -8px #c7c7c7, 144px 0 0 -8px #c7c7c7, 145px 0 0 -8px #c7c7c7, 146px 0 0 -8px #c7c7c7, 147px 0 0 -8px #c7c7c7, 148px 0 0 -8px #c7c7c7, 149px 0 0 -8px #c7c7c7, 150px 0 0 -8px #c7c7c7, 151px 0 0 -8px #c7c7c7, 152px 0 0 -8px #c7c7c7, 153px 0 0 -8px #c7c7c7, 154px 0 0 -8px #c7c7c7, 155px 0 0 -8px #c7c7c7, 156px 0 0 -8px #c7c7c7, 157px 0 0 -8px #c7c7c7, 158px 0 0 -8px #c7c7c7, 159px 0 0 -8px #c7c7c7, 160px 0 0 -8px #c7c7c7, 161px 0 0 -8px #c7c7c7, 162px 0 0 -8px #c7c7c7, 163px 0 0 -8px #c7c7c7, 164px 0 0 -8px #c7c7c7, 165px 0 0 -8px #c7c7c7, 166px 0 0 -8px #c7c7c7, 167px 0 0 -8px #c7c7c7, 168px 0 0 -8px #c7c7c7, 169px 0 0 -8px #c7c7c7, 170px 0 0 -8px #c7c7c7, 171px 0 0 -8px #c7c7c7, 172px 0 0 -8px #c7c7c7, 173px 0 0 -8px #c7c7c7, 174px 0 0 -8px #c7c7c7, 175px 0 0 -8px #c7c7c7, 176px 0 0 -8px #c7c7c7, 177px 0 0 -8px #c7c7c7, 178px 0 0 -8px #c7c7c7, 179px 0 0 -8px #c7c7c7, 180px 0 0 -8px #c7c7c7, 181px 0 0 -8px #c7c7c7, 182px 0 0 -8px #c7c7c7, 183px 0 0 -8px #c7c7c7, 184px 0 0 -8px #c7c7c7, 185px 0 0 -8px #c7c7c7, 186px 0 0 -8px #c7c7c7, 187px 0 0 -8px #c7c7c7, 188px 0 0 -8px #c7c7c7, 189px 0 0 -8px #c7c7c7, 190px 0 0 -8px #c7c7c7, 191px 0 0 -8px #c7c7c7, 192px 0 0 -8px #c7c7c7, 193px 0 0 -8px #c7c7c7, 194px 0 0 -8px #c7c7c7, 195px 0 0 -8px #c7c7c7, 196px 0 0 -8px #c7c7c7, 197px 0 0 -8px #c7c7c7, 198px 0 0 -8px #c7c7c7, 199px 0 0 -8px #c7c7c7, 200px 0 0 -8px #c7c7c7, 201px 0 0 -8px #c7c7c7, 202px 0 0 -8px #c7c7c7, 203px 0 0 -8px #c7c7c7, 204px 0 0 -8px #c7c7c7, 205px 0 0 -8px #c7c7c7, 206px 0 0 -8px #c7c7c7, 207px 0 0 -8px #c7c7c7, 208px 0 0 -8px #c7c7c7, 209px 0 0 -8px #c7c7c7, 210px 0 0 -8px #c7c7c7, 211px 0 0 -8px #c7c7c7, 212px 0 0 -8px #c7c7c7, 213px 0 0 -8px #c7c7c7, 214px 0 0 -8px #c7c7c7, 215px 0 0 -8px #c7c7c7, 216px 0 0 -8px #c7c7c7, 217px 0 0 -8px #c7c7c7, 218px 0 0 -8px #c7c7c7, 219px 0 0 -8px #c7c7c7, 220px 0 0 -8px #c7c7c7, 221px 0 0 -8px #c7c7c7, 222px 0 0 -8px #c7c7c7, 223px 0 0 -8px #c7c7c7, 224px 0 0 -8px #c7c7c7, 225px 0 0 -8px #c7c7c7, 226px 0 0 -8px #c7c7c7, 227px 0 0 -8px #c7c7c7, 228px 0 0 -8px #c7c7c7, 229px 0 0 -8px #c7c7c7, 230px 0 0 -8px #c7c7c7, 231px 0 0 -8px #c7c7c7, 232px 0 0 -8px #c7c7c7, 233px 0 0 -8px #c7c7c7, 234px 0 0 -8px #c7c7c7, 235px 0 0 -8px #c7c7c7, 236px 0 0 -8px #c7c7c7, 237px 0 0 -8px #c7c7c7, 238px 0 0 -8px #c7c7c7, 239px 0 0 -8px #c7c7c7, 240px 0 0 -8px #c7c7c7;
  margin-top: -8px;
  border: 1px solid #777;
}
.range_slider input::-moz-range-track {
  width: 240px;
  height: 5.94px;
  border-radius: 8px;
}
.range_slider input::-moz-range-thumb {
  height: 12px;
  width: 12px;
  background: #fff;
  border-radius: 100%;
  border: 1px solid #777;
  position: relative;
}
.range_slider input::-moz-range-progress {
  height: 5.94px;
  background: #D7253B;
  border: 0;
  margin-top: 0;
  border-radius: 8px;
}
.range_slider input::-ms-track {
  background: transparent;
  border: 0;
  border-color: transparent;
  border-radius: 0;
  border-width: 0;
  color: transparent;
  height: 2px;
  margin-top: 10px;
  width: 240px;
}
.range_slider input::-ms-thumb {
  height: 18px;
  width: 28px;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #777;
}
.range_slider input::-ms-fill-lower {
  background: #e33d44;
  border-radius: 0;
}
.range_slider input::-ms-fill-upper {
  background: #c7c7c7;
  border-radius: 0;
}
.range_slider input::-ms-tooltip {
  display: none;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::after 
{
  background-image: none;
} 

.custom-select {
  background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%333333' d='M1 0L0 0h4zm0 3L0 2h1.8z'/%3E%3C/svg%3E") no-repeat right center;
}


.login_view
{
  width: 375px;
  background-color: #faf9f8;
  border-radius: 15px;
  padding: 17px 47px;
}
.login_view .form-group 
{
  margin-bottom: 10px;
}
.login_view .form-group input 
{
  background-color: transparent;
}
.login_view label {
  opacity: 0.5;
  margin-bottom: 0px;
  font-weight: 900;
  letter-spacing: 0.8px;
}
.login_view h2 {
    font-size: 32px;
    font-weight: 900;
    line-height: normal;
    text-align: center;
    margin: 0px;
}
.toggle_button.toggle_rememberme {
    width: 100%;
    text-align: right;
    max-width: 100%;
}
.toggle_button.toggle_rememberme  span 
{
  color: #333333;
}
.toggle_button.toggle_rememberme .flat-toggle
{
   margin-left: 10px;
}
.back_titile {
    color: rgba(75,116,255,0.71);
    text-transform: capitalize;
    text-decoration: none;
    transition-timing-function: ease-in;
    transition: 0.2s;
}
.back_titile_seprator{
  color: #aaa;
  margin-left: 6px;
  margin-right: 6px;
  pointer-events: none;
}
.back_titile:hover {
    text-decoration: none;
    color: rgba(75,116,255,1);
}




.loader-fixed 
{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.1);
  display: block;
  z-index: 333;
}
.loader-centered{
  position:absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -92px;
}
.loader-inner-centered {
    /*box-shadow: 0 12px 20px -10px rgba(75, 116, 255, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.5), 0 7px 8px -5px rgba(75, 116, 255, 0.2);*/
    padding: 28px 80px 24px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: inset 0 0px 0 rgba(0,0,0,.2), 0 0 10px rgba(0,0,0,0.199);
}
.bg-loading-img
{
    background-image: url('../img/logo.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height:  100%;
    background-position: center center;
}
.loader {
  border: 10px solid #333333;
  border-radius: 50%;
  border-top: 8px solid #D7253B;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: auto;
  display: block;
  overflow: hidden;
}
.loader.button_loading 
{
  border: 3px solid #F2F2F2;
  width: 18px;
  height: 18px;
  border-top: 5px solid #FFF;
  display: inline-block;
  position: relative;
  top: 4px;
}
.loading-title {
  color: #4e4e4e;
  font-family: Avenir, sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin-top: 11px;
  margin-bottom: 0px;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hideMe {
    -moz-animation: cssAnimation 0s ease-in 0.2s forwards;
    -webkit-animation: cssAnimation 0s ease-in 0.2s forwards;
    -o-animation: cssAnimation 0s ease-in 0.2s forwards;
    animation: cssAnimation 0s ease-in 0.2s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    0%   {opacity: 0.8;}
    90%  {opacity: 0.5;}
    100% {opacity: 0;}
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    0%   {opacity: 0.8;}
    90%  {opacity: 0.5;}
    100% {opacity: 0;}
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}

.opacity-0 {
	opacity: 0;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #c6051d;
    border-color: #c6051d;
}
.dropdown-item.active, .dropdown-item:active
{
  color: #fff;
  background-color: #c6051d;
  border-color: #c6051d;
}

body,html{
  height:100%;
}
/* body{
  height:100%;
  background-position: center center;
  background-size: cover; 
} */
.OuterPage div:first-child,
.OuterPage div#app {
  height: 100%;
}
body.OuterPage{
  height:100vh;
  background-color: #c6cbd4;
  background-image:url("../img/bg1_light.png") ;
  background-position: center center;
  background-size: cover; 
} 

.closeUserButton{
  font-size:25px;cursor:pointer; color: #fff;
}

.pointer {
  cursor:pointer
}
.d-select {
  width: 20% !important;
}