.sidebar.active {
  width: 216px !important;
}
.pageHeagingSmallScreen 
{
  display: none;
} 
.d-select {
    display: inline-block;
    width: 18%;
    margin-right: 15px;
}
@media screen and (min-width: 1380px)
{
  .d-select
  {
    width: 20%;
  }
}
.openNav,
.closebtn
{
  display: none;
}
@media screen and (min-width: 980px) and (max-width: 1580px)
{
 .block-header , .block-content
  {
    padding: 15px; 
  }
}
@media screen and (max-width: 1379.99px)
{
  .table.table-borderless tr th:first-child, .table.table-borderless tr td:first-child {
      padding-left: 10px;
  }

}
@media screen and (max-width: 1024px)
{
  .openNav, .closebtn {
    display: inline-block;
  }
  .block-header , .block-content {
    padding: 10px 0px; 
  }
  #sidebar {
    width: 0px;
    transition: all 0.4s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
  }
  .block--elm-header a {
    margin-left: 10px;
  }
  .content  {
    min-height: 100vh;
    margin-left: 0px;
  }
  .heading-text {
    font-size: 25px;
  }
  .pageHeagingSmallScreen {
    display: block;
  }
  .pageHeagingHideSmallScreen {
    display: none;
  }
 }

