@font-face {
  font-family: 'AvenirL';
  src: url('AvenirLTStd-Light.eot?#iefix') format('embedded-opentype'),  url('AvenirLTStd-Light.otf')  format('opentype'),
	     url('AvenirLTStd-Light.woff') format('woff'), url('AvenirLTStd-Light.ttf')  format('truetype'), url('AvenirLTStd-Light.svg#AvenirLTStd-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: url('AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'),  url('AvenirLTStd-Book.otf')  format('opentype'),
	     url('AvenirLTStd-Book.woff') format('woff'), url('AvenirLTStd-Book.ttf')  format('truetype'), url('AvenirLTStd-Book.svg#AvenirLTStd-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirR';
  src: url('AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),  url('AvenirLTStd-Roman.otf')  format('opentype'),
	     url('AvenirLTStd-Roman.woff') format('woff'), url('AvenirLTStd-Roman.ttf')  format('truetype'), url('AvenirLTStd-Roman.svg#AvenirLTStd-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}
